@model int

@{
    ViewBag.Title = "Order Confirmation";
    Layout = "_Layout";
}

<div class="container my-5">
    <div class="text-center">
        <h1 class="text-dark text-center">Order Placed Successfully!</h1>
        <p>Your Order Number is : @Model</p>
        <img class="img-fluid mx-auto" src="~/images/others/thank_you.jpeg" />
    </div>
    <div class="text-center" style="color: maroon;">
        Your order has been placed successfully! <br/>
    </div>
</div>