@model ShoeStore.Models.ShoeSize

@{
    ViewData["Title"] = "Edit";
    Layout = "_AdminLayout";
}

<h1>Edit</h1>

<h4>ShoeSize</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Quantity" class="form-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShoeColorId" class="form-label"></label>
                <select asp-for="ShoeColorId" class="form-control" asp-items="ViewBag.ShoeColorid"></select>
                <span asp-validation-for="ShoeColorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SizeId" class="form-label"></label>
                <select asp-for="SizeId" class="form-control" asp-items="ViewBag.SizeId"></select>
                <span asp-validation-for="SizeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>

