$primary-font: "Poppins", sans-serif;
$secondary-font: "Raleway", sans-serif;
$primary-color: #fa6257;
$secondary-color: #fd734f;
$third-color: #f9886c;
$fourth-color: #fea994;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;