.hero {
    &-image {
        position: relative;
        width: 100%;
        height: 80vh;
        @include parallax;
        background-image: url("../../images/banner/banner2.jpg");
    }

    &-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.55);
    }

    &-content {
        width: inherit;
        height: inherit;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        align-content: center;

        h4 {
            color: white;
            opacity: 0.85;
            font-family: $secondary-font;

        }

        h1 {
            font-size: 48px;
            color: white;
            font-family: $secondary-font;

            strong {
                font-style: oblique;
                font-size: 50px;
                @include textGradient;

                @include responsive(max_md) {
                    font-size: 34px;
                }
            }

            @include responsive(max_md) {
                font-size: 32px;
            }
        }

        span {
            color: white;
            font-family: $secondary-font;
            opacity: 0.8;
        }

        button {
            margin-top: 20px;
            box-shadow: 0px 10px 20px rgba(255, 120, 58, 0.4);
            @include buttonGradient(0rem 100rem 100rem 100rem);
            &:hover {
                transform: translate(10px);
            }
        }

        @include responsive(max_md) {
            margin: 0 auto;
            align-items: center;
        }
    }
}