.reason {
    background: #f5f5f5;
    padding: 50px 30px;

    &-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        gap: 20px;


        &-box {
            display: flex;
            align-items: flex-start;
            margin-left: 100px;

            @include responsive(max_md) {
                margin-left: 8px;
            }

            i {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-shrink: 0;
                border-radius: 10px;
                width: 50px;
                height: 50px;
                padding: 10px;
                background-color: #fa62573e;
                margin-right: 20px;
                color: $primary-color;
                font-size: 18px;
                box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px,
                    rgba(0, 0, 0, 0.07) 0px 2px 2px,
                    rgba(0, 0, 0, 0.07) 0px 4px 4px,
                    rgba(0, 0, 0, 0.07) 0px 8px 8px,
                    rgba(0, 0, 0, 0.07) 0px 16px 16px;
            }

            p {
                font-family: $secondary-font;
                font-size: 18px;
                font-weight: 500;
                margin-bottom: 10px;
            }

            span {
                font-family: $secondary-font;
                font-size: 15px;
                opacity: 0.8;
            }
        }

        h1 {
            font-family: $secondary-font;
            font-weight: bold;
            margin-left: 100px;
            margin-top: 30px;
            margin-bottom: 30px;

            @include responsive(max_md) {
                margin-left: 8px;
                font-size: 24px;
            }

            strong {
                @include textGradient;
                font-style: oblique;
            }

            &::after {
                @include backgroundGradient;
                content: "";
                display: block;
                height: 2.5px;
                width: 50px;
                margin-top: 15px;
                border-radius: 6px;
            }
        }
    }

    &-banner {
        display: flex;

        img {
            border-radius: 56% 44% 29% 71% / 63% 32% 68% 37%;
            box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, 
                rgba(0, 0, 0, 0.09) 0px 4px 2px, 
                rgba(0, 0, 0, 0.09) 0px 8px 4px, 
                rgba(0, 0, 0, 0.09) 0px 16px 8px, 
                rgba(0, 0, 0, 0.09) 0px 32px 16px;
        }
    }

    .row {
        --bs-gutter-x: 0 !important;
    }
}